
body {
    background-color: silver;
    color: black;
}


#cardPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 150px;
}

.card {
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
    margin-top: 50px;
}

.grid{
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
}

#homePage {
    display: flex;
    
}

#cardPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: images/url("picture.jpg");
}

#playAgain {
    display: flex;
}

#playAgainButton {
    position: fixed;
    top: 200px;
    width: 50%;
    left: 25%;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    z-index: 2;
    background-color: grey;
    font-size: 25px;
    font-size: 25px;
}

#exitGame {
    position: fixed;
    top: 300px;
    width: 50%;
    left: 25%;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    z-index: 2;
    background-color: grey;
    font-size: 25px;
}

#homePage {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    align-content: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    z-index: 3;
} 

.homePageContent {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

#startGame {
    display: flex;
    position: flex;
    top: 50px;
    right: 25%;
    left: 25%;
    align-content: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
    background-color:grey;
    font-size: 25px;
    border: none;
}

.front {
    border: 1px solid black;
}

.back {
    border: 1px solid black;
}

@media only screen and (min-width: 400px) {
    body {
        background-color: black;

    }
}